<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ffomall.rns.qrcode">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->


    <application>
        <activity
            android:name="com.ffomall.rns.SacnActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.ffomall.rns.AlbumActivity"
            android:theme="@style/AlbumTheme"/>
    </application>
</manifest>
